MONGO_URL=mongodb://localhost:27017/skillvynDB
PORT=8080
JWT_SECRET_KEY=MySuperStrongSecretKey
REFRESH_SECRET_KEY=MyRefreshSuperStrongSecretKey
ALLOWED_ORIGINS=http://localhost:5173,http://192.168.1.14:5173,http://192.168.1.6:5173
DEBUG_MODE=False

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=example@gmail.com
EMAIL_PASS=app-password
EMAIL_FROM=example@gmail.com
FRONTEND_URL=http://localhost:5173